<div class="row">

<p class="d-flex justify-content-around">

{% for category in categories %}

<span class="d-inline pt-2"><a href="#" class="text-decoration-none text-light">{{ category.name }}</a></span>

{% endfor %}

</p>

</div>